version: '3'

services:
  airflow:
    image: docker-whirl-airflow:py-${PYTHON_VERSION}-local
    ports:
      - '5000:5000'  # HTTP (Airflow Web UI)
    env_file:
      - .whirl.env
    environment:
      - WHIRL_SETUP_FOLDER
      - UNPAUSE_DAG
    volumes:
      - ${DAG_FOLDER}:/usr/local/airflow/dags/$PROJECTNAME
      - ${ENVIRONMENT_FOLDER}/whirl.setup.d:${WHIRL_SETUP_FOLDER}/env.d/
      - ${DAG_FOLDER}/whirl.setup.d:${WHIRL_SETUP_FOLDER}/dag.d/
    depends_on:
      - mockserver
      - s3server
    links:
      - s3server:${DEMO_BUCKET}.s3server

  mockserver:
    image: jamesdbloom/mockserver:mockserver-5.5.1
    ports:
      - 1080:1080
    environment:
      - LOG_LEVEL=ERROR

  s3server:
    image: atlassianlabs/localstack:0.6.2
    ports:
      - "4563-4584:4563-4584"
      - "${PORT_WEB_UI-8080}:${PORT_WEB_UI-8080}"
    env_file:
      - .whirl.env
    environment:
      - SERVICES=s3

