*        text=auto
*.sh     text eol=lf
*.bat    text eol=crlf
*.cmd    text eol=crlf

.gitattributes  export-ignore
.gitignore      export-ignore
.github         export-ignore
.gitkeep        export-ignore
logo            export-ignore

#Non finished examples
examples/dbt**  export-ignore
